doctype html 
html
  head
    title My Site - Yash Dance Academy
    block scripts         
    block style        
  body
    nav#navbar 
        ul
            div#logo 
              img(src="/static/Images/logo.png")
              |   YDA
            li #[a(href="/") Home]  
            li #[a(href="/") About]  
            li #[a(href="/") Services]  
            li #[a(href="/") Class Info]  
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copywrite 2021 YashDanceAcademy.com . All rights | reserved 

      
        